@font-face {
    font-family: munro;
    src: url("../../munro_small.ttf");
    font-display: swap;
}

body {
    background-color: #29CEDF;
    width: 100%;
    margin: 0;
    font-family: munro, sans-serif
}

footer {
    background-color: #365A5E;
    color: white;
    text-align: center;
    padding: 5px 15px;
    font-size: 2em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #94bdc2;
}

.headerContainer {
    margin: 0;
    padding: 0;
}

#headerImage {
    content: url("../../Base.png");
}

#comingSoon {
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-weight: bold;
}

.announcementBar {
    display: flex;
    align-items:center;
    justify-content:center;

    background-color: #365A5E;
    width: 100%;
    height: 75px;
    top: 0;
    margin: 0;
}

.linkBar {
    background-color: #62D4E0;
    margin: 0;
    padding: 15px;
}

.linkContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.linkContainer a {
    width: 75%;
    max-width: 175px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #5E9FA6;
}

.linkContainer a:hover {
    background-color: #51C1CD;
}

.textHeader {
    background-color: #365A5E;
    margin: 0;
    padding: 50px;
    color: #ffffff;
}

.textHeader h1 {
    font-size: 4em;
    margin: -10px 0px 0px 0px;
    text-shadow: #c9c9c960 0px 0px 5px;
    font-weight: normal;
}

.textHeader p {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

.features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 50px;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.711);
    max-width: 100vw;
}

.features h1 {
    margin: auto;
    font-size: larger;
}

.featureContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
    padding: 0;
}

.featureContainer p {
    margin: 20px;
    text-align: left;
    /* padding: 10px 50px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.ssContainer {
    width: 50%;
    border: black 20px solid;
    box-shadow: rgba(0, 0, 0, 0.368) 0px 10px 10px;
}

.ssImage {
    display: block;
    margin: 0;
}

.textContainer {
    margin: 0px 50px;
    width: 50%;
    background-color: #cecece4b;
    max-width: 100vw;
}

@media (max-width: 1000px) {
    .linkContainer a {
        font-size: 40px;
    }

    .features {
        padding: 30px 30px;
        font-size: 1.75em;
    }

    .featureContainer {
        flex-direction: column;
        width: 100%;
    }

    .featureContainer p {
        font-size: 0.5em;
    }
    
    .ssContainer {
        width: 100%;
    }

    .textContainer {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        margin: 30px;
    }
}

@media (max-width: 600px) {
    .linkContainer {
        flex-direction: column;
    }

    .textHeader {
        padding: 30px;
    }

    .textHeader h1 {
        font-size: 3em;
    }

    .textHeader p {
        font-size: 1.5em;
    }

    #comingSoon {
        font-size: 1.75em;
    }

    #headerImage {
        content: url("../../Library.png");
    }
}